<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A propos</title>
    <link href="{{url_for('static', filename = 'style1.css')}}" rel="stylesheet">
  </head>

  <header>

    <div class="header">
      <ul>
        <li><a href="index4.html">Accueil</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#">Inscription</a></li>
      </ul>
    </div>

    
 <div id="logo">
    <img src="..\static\logo2.png" alt="logo laboratoire" width="110" ; height="90"/>

  </div>
  <body>
   
  <center>
    <h1 style= "color: #4f8382; font-family: 'Raleway', sans-serif">A propos de Zayou Laboratory</h1>

    <img src="..\static\apropos.jpg" alt="a propos labo" width="700" ; height="280"/>
    <h4 style= "color: #4f8382; font-family: Georgia, serif">Les laboratoires ZAYOU LABORATORY sont engagés dans une démarche d'amélioration continue de la qualité des prestations d'analyses, dans le respect des bonnes pratiques professionnelles et de l’éthique liées à nos activités.
    L’ensemble de nos laboratoires est accrédité par le Cofrac ISO 15189.</h4>

    <hr style= "color: #fcffff">
    <h2 style= "color: #4f8382; font-family: 'Raleway', sans-serif">Partenaires</h2>
    <img style="padding-right: 50px;" src="..\static\bhanlogo.png" alt="logo labobhan" width="110" ; height="50"/>
   
</head>
<body>

    <img style= "top: 0" src="..\static\ass.png" alt="logo assurance" width="100" ; height="90"/>

    <img src="..\static\pharma.png" alt="logo assurance" width="100" ; height="90"/>
  </hr>
  </center>






</body>
</header>
</html>
