<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
    <link href="{{url_for('static', filename = 'style1.css')}}" rel="stylesheet">

<style>


</style>

</head>
  <header>

    <div class="header">
      <ul>
        <li><a href="index4.html">Acceuil</a></li>
        <li><a href="apropos.html">A propos</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Inscription</a></li>
      </ul>
    </div>

   

<body> 
  <div id="logo">
      <img src="../static/logo2.png" alt="logo laboratoire" width="110" ; height="90"/>
  </div>
<center>
<h1 style= "color: #4f8382; font-family: 'Raleway', sans-serif">Contact</h1>
</center>
<div id="principal" style="text-align:center">
<div class="main" id="section1" >
  <h2 style= "color: rgb(12, 68, 20); font-family: Georgia, serif">Les autres structures</h2>

  <p>Pour connaitre la localisation des laboratoires à proximité de chez vous : </p>
  
<a href = "https://www.cascoronavirus.fr/carte-centres-test-depistage" target = "self">Laboratoires à proximité.</a>

<a href="#section2">Bas de la page</a>
</div>



<div class="main" id="section2">
  <h2 style= "color: rgb(12, 68, 20); font-family: Georgia, serif">Réseaux</h2>
  <p>Nous somme aussi présent sur les réseaux sociaux</p>

  <ul style= " position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); margin:0; padding:0; display:flex;">
  <li><a style= "position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
  <li><a style= "position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a style= "position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;" href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
  <li><a style= "position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;" href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>

  <li><a style= "position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
</ul>

<img src="https://lh3.googleusercontent.com/proxy/PNDV1z3oV-myI1_yzGpVCdNCqIfZ-FC9WeHRfgrhkZh2FLRP5S6HPVWJUq7XDvpRQXfSbVf37AO1FjMzncuOOIg" alt="Simply Easy Learning" width="1100"
         height="400"></br>

<a href="#section1">Haut de la page</a>
</div>

</div>
</header>
</body>
</html>
