
<!DOCTYPE html>
<html>

	<head>
		<title>CV N.Z</title>
	</head>
	<center>
		<h1>CV</h1>
	</center>

	<img src = "C:\Users\zayou noura\Desktop\perso\Noura.PNG" alt = "Noura" border = "0" style="width:150px;height:210px;">
</a>
<h3>Zayou Noura</h3>

<hr />

	<body>
	
		<h2>Description</h2>
		<p>Poste ingénieur en santé.</p>

<hr />
	</center>

	<body>
	
		<h2>Expériences</h2>
		<i>Opticienne<u> Général d'optique, Lynx Optique</u><br />
		vendeuse polyvalente<u>Primark</u><br />
		professeur à domicile</i>

<hr />
	</center>

	<body>
	
		<h2>Diplômes</h2>
		<i>BTS Opticien Lunetier<u> 2019</u><br />
		BAC S option SVT<u> 2016</u><br />
		Brevet<u> 2013</u></i>
	</center>
<hr />


	<body>
	
		<h2>Compétences</h2>
		<i>Python<br />
		Word<br />
		Excel<br />
	    PowerPoint</i>

<hr />

	<body>
	
		<h2>Loisirs</h2>
		<i>Voyages<br />
		Art<br />
		Série et film (internationale)</i>

<hr />

	<body>
		<h2>Langues</h2>
		<ul type="disc">		
		<li> Anglais</li>
		<li>Arabe courant</li>
		<li>Espagnole</li>
		<ul>


<hr />

	<body>
	<center>

		<p>Pour plus d'information sur le profil<br />
		<a href = "https://www.linkedin.com/in/zayou-noura-3b141a1aa" target = "self">Profil Linkedin de Noura</a>





	</body>
</html>

